<div class="emails-editor" ng-click="model.onListClick()">
    <email
        ng-repeat="email in model.emails track by email._id"
        data="email"
        on-remove="model.removeEmail(email._id)"></email>
    <input
        type="text"
        id="input-field"
        class="emails-editor__input-field"
        ng-model="model.inputField"
        placeholder="add more people..."
        ng-blur="model.addEmail()"
        confirm-email="model.addEmail()"
        ng-paste="model.addEmail()"
    >
</div>