<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Realtimeboard тестовое</title>
</head>
<body>
    <div class="page__wrapper" ng-controller="AppController as app">
        <div class="page__body">
            <div class="page__title">
                <h4>Share "Board name" with others</h4>
            </div>
            <emails-editor api="app.emailsEditorApi"></emails-editor>
        </div>
        <footer class="page__footer">
            <button class="page__button" ng-click="app.emailsEditorApi.addRandomMail()">Add email</button>
            <button class="page__button" ng-click="app.emailsEditorApi.getEmailsCount()">Get emails count</button>
        </footer>
    </div>
</body>
</html>